<div location="login"></div>
<div location="registration"></div>

<img src="../img/landing/ok_fonok.png" />
<a value="Hogy működik?" href="howitworks.html" class="header-howitworks">Hogyan működik</a>
<img src="../img/landing/adj_fel_feladatot.png" class="imgbox-button" />
Pár klikkeléssel posztold a feladatot amit el szeretnél végeztetni, majd válassz a beérkezett ajánlatok közül.
<br />
A döntés a Tiéd, mi pedig segítünk, hogy az áron túl más
<br />
információkkal is rendelkezz!
</p>
Ne habozz! Itt az ideje, hogy valaki dolgozzon egy kicsit helyetted!
<img src="../img/landing/regelj_es_vallalj_feladatokat.png" class="imgbox-button" />
Regisztrálj, töltsd ki a profilod, majd válassz a feltöltött feladatok közül.
<br />
Hogy szervezni tudd a napodat és hatékonyan tudj dolgozni,
<br />
különböző eszközökkel segítjük munkádat.
<br />
<br />
Elég a lazulásból! Indulj egy kis pénzt keresni!
<a onclick="$('html,body').animate({ scrollTop: $('#bottom').offset().top }, 'slow');" class="knowmore-link">Tudj meg többet!</a>
<div class="left">
	<p class="steps-header">Van valami feladat, amit el szeretnél végeztetni?</p>
	<div class="step step-regisztralj">Regisztrálj</div>
	<div class="step step-keszitsdel">Készítsd el a hirdetésed!</div>
	<div class="step step-valogass">Válogass az ajánlatok közül</div>
	<div class="step step-vegeztesdel">Végeztesd el a feladatot</div>
	<div class="step step-fizess">Fizess</div>
	<div class="step step-ertekelj">Értékelj</div>
</div>
<div class="right">
	<p class="steps-header">Szívesen vállalnál feladatokat?</p>
	<div class="step step-regisztralj">Regisztrálj</div>
	<div class="step step-toltsdfel">Töltsd fel teljesen profilod adatait</div>
	<div class="step step-igazold">Igazold magad, hogy ellenőrzött felhasználóvá válj</div>
	<div class="step step-valogass">Válassz a felkínált feladatok közül</div>
	<div class="step step-vegeztesdel">Végezd el a feladatot</div>
	<div class="step step-ertekelj">Értékelj</div>
</div>
